@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body {
        background-image: linear-gradient(to bottom, lightcoral, lightsalmon);
        background-repeat: no-repeat;
    }

    #login {
        width: 80vw;
        height: 42vh;
    }

    div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, lightcoral, lightsalmon);
    }

    #login {
        width: 970px;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario h1 {
        font-size: 2em;
    }

    #formulario {
        float: left;
        width: 50%;
    }

    #formulario p {
    font-size: 1.1em;
}
}