@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: lightcoral;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: black;
    width: 300px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.495);

    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

div {
    display: block;
}

#login > div#imagem {
    background: black url(../imagens/padrao.jpg) no-repeat;
    min-height: 200px;
    background-size: cover;
}

#login p {
    margin-bottom: 20px;
}

#formulario {
    padding: 10px;
    color: white;
}

#formulario h1 {
    text-align: center;
    margin-bottom: 20px;
}

#formulario p {
    font-size: 0.8em;

}

.campo {
    background-color: crimson;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 4px solid crimson;
}

form label {
    display: none;
}

.campo > span {
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo input::placeholder {
    color: black;
    font-weight: lighter;
}

.campo > input {
    background-color: rgb(253, 148, 148);
    font-size: 1em;
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 4px;
    width: calc(100% - 45px);
    transform: translateY(-14px);
}

.campo > input:focus-within {
    background-color: white;
}

form > input[type="submit"] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

form > input[type="submit"]:hover {
    background-color: crimson;
    cursor: pointer;
}

.botao {
    display: inline-block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    text-decoration: none;
    background-color: transparent;
    border: 3px solid rgb(218, 99, 99);
    border-radius: 5px;
    margin-top: 5px;
}

.botao a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
}

.botao span {
    font-size: 1em;
    vertical-align: middle;
}

.botao:hover {
    background-color: crimson;
    cursor: pointer;
}