@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: lightcoral;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: black;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.495);

    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
}

div {
    display: block;
}

#login > div#imagem {
    background: black url(../imagens/padrao.jpg) no-repeat;
    min-height: 200px;
    background-size: cover;
}

#formulario {
    padding: 10px;
    color: white;
}